<li><a href="https://github.com/stujo/sinatra-favourite-colour">GitHub</a></li>
<% unless @skip_css %>
  <li><a href="/nocss">No CSS</a></li>
<% else %>
  <li><a href="/colors">With CSS</a></li>
<% end %>  
<li><a href="/board">Leaderboard</a></li>
