<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Favourite Colour</title>

    <% unless @skip_css %>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>  
    <link type="text/css" rel="stylesheet" href="css/favcolor.css"  media="screen,projection"/>
    <% end %>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav class="indigo" role="navigation">
      <div class="nav-wrapper container">
        <a href="/colors" class="brand-logo">Favourite Colours</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
           <%= erb(:'shared/nav_menu') %>
        </ul>

        <ul class="side-nav" id="mobile-demo">
           <%= erb(:'shared/nav_menu') %>
        </ul>

      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bin/materialize.js"></script>
    <script type="text/javascript" src="js/voting.js"></script>
    <script>
      $(document).ready(function(){ 
          $(".button-collapse").sideNav(); 
        } 
      );
    </script>
  </body>
</html>
        