<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Favorite Color</title>
    <link href="css/materialize.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet" >
    <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" >
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
</head>
<body>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper"><a id="logo-container" href="#top" class="brand-logo">Favorite Color</a>
            <ul id="nav-mobile" class="right side-nav">
                <li><a href="https://github.com/stujo">@stujo</a></li>
            </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>


<div id="colors" class="section">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">Favorite Colors</h2>
            </div>

            <div  class="col s12">
                <div class="center promo promo-example">
                  <%= yield %>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

    </body>
</html>